<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--<add name="UserDbContext" connectionString="Data Source=PIFITNESS-SRV\SQLEXPRESS; Initial Catalog=PIFitnessIdentityDb; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="UserDbContext" connectionString="Data Source=srrkqpk1y9.database.windows.net;Initial Catalog=PIFitnessIdentityDb;User ID=pifitness.adm@srrkqpk1y9;Password=Pa$$w0rdOSI;" providerName="System.Data.SqlClient"/>
    <!--<add name="GpxDbContext" connectionString="Data Source=PIFITNESS-SRV\SQLEXPRESS; Initial Catalog=PIFitnessDb; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="GpxDbContext" connectionString="Data Source=pifitness.cloudapp.net;Initial Catalog=PIFitnessDb;User Id=webconnection;Password=Pa$$w0rdPISQL2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="fitbitConsumerKey" value="e10bcc1dd44d4b65831c0fcd6eead48b"/>
    <add key="fitbitConsumerSecret" value="77b27ac1a8324c868a42f1e549b663c8"/>
    <add key="PISystem" value="PIFITNESS-SRV"/>
    <add key="AFDatabase" value="PIFitness2.0"/>
    <add key="User Element Template" value="PIFitness User Template"/>
    <add key="GPX Element Template" value="GPX Template"/>
    <add key="Fitbit Element Template" value="Fitbit Template"/>
    <add key="GPX Event Frame Template" value="GPX Event Frame Template"/>
    <add key="pollingInterval" value="10"/>
    <add key="pollingOffset" value="0"/>
    <add key="pollOnce" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="fitnessServiceSource" switchName="defaultSwitch">
        <listeners>
          <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="PI Fitness Service"/>
          <add name="consoleLogListener" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\pifitness.log" traceOutputOptions="Timestamp"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="defaultSwitch" value="Information"/>
    </switches>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
